
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label1>MÜŞTERİ ADI</label1>
        <input type="text" class="form-control" name="Musteriad" />
    </div>
    <div>
        <label1>MÜŞTERİ SOYADI</label1>
        <input type="text" class="form-control" name="Musteriadsoyad" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">MÜŞTERİ EKLE</button>
    </div>

</form>
