
@model  mvcprojesi.Models.Entity.Urunler

@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:5px">
        <label>Urun Adi</label>
        <input type="text" class="form-control" name="Urunad" />
    </div>
    <div style="margin-top:5px">
        <label>Marka</label>
        <input type="text" class="form-control" name="Marka" />
    </div>
    <div style="margin-top:5px">
        <label>Urun Kategori</label>
        @Html.DropDownListFor(m => m.Kategoriler.Kategoriid, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:5px">
        <label>Urun Fiyat</label>
        <input type="text" class="form-control" name="Fiyat" />
    </div>
    <div style="margin-top:5px">
        <label>Urun Stok</label>
        <input type="text" class="form-control" name="Stok" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Urun Ekle</button>
    </div>

</form>
