
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label1>KATEGORİ ADI</label1>
        <input type="text"  class="form-control" name="Kategoriad" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">KATEGORİ EKLE</button>
    </div>

</form>

